@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px 0 10px 0;
    text-align: center;
}

h2 {
    margin: 10px 0 10px 0;
}

header {
	background: #6E6E6E;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #610B38;
	font-weight: bold;
	font-size: 21px;
	text-decoration: none;
}

nav a:hover {
	color: #610B38;
	text-decoration: underline;
}

main {

    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

section {
    background-color: #e0e8ff;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section img {
    width: 350px;
    border-radius: 10px;
}

section h2 {
    margin: 5px;
}

section h3 {
    color: #6E6E6E;
}

section p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

section h3 strong{
	font-weight: bold;
	text-decoration: underline;
}
